@font-face {
    font-family: "consolas";
    src: url(/assets/fonts/consola.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "consolas";
    src: url(/assets/fonts/consolab.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "consolas";
    src: url(/assets/fonts/consolai.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "consolas";
    src: url(/assets/fonts/consolaz.ttf);
    font-weight: 800;
    font-style: italic;
}